header{
    width:100%;
    max-width: 90%;
    max-width: 50rem;
    margin:0 auto 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0 10px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background: linear-gradient(
        to bottom,
        #2c0a4c,
        #450d80
      );
      box-shadow: 8px rgba(0, 0, 0, 0.6);
      padding:1rem;
      gap:1rem;
}
img{
    width:3.5rem;
    object-fit: contain;
}
h1{
    margin:0;
    padding:0;
    font-size: 1.25rem;
}
p{
    margin:0;
    font-size: 0.8rem;
    text-wrap: balance;
}

@media(max-width:768px){
    header{
        padding: 2rem;
    }
    img{
        width: 4.5rem;
    }
    h1{
        font-size: 1.5rem;
        margin: 0;
        padding: 0;
    }  
}