<div class="backdrop" >
    <dialog open >
        <h2>Add Task</h2>
        <form (ngSubmit) = "onSubmit()">
            <p>
                <label for="title"></label>
                <input type="text" id="title" name="title" [(ngModel)] = "enteredTitle">
            </p>
            <p>
                <label for="summary"></label>
                <textarea name="summary" rows="5" id="summary" [(ngModel)] = "enteredSummary"></textarea>
            </p>
            <p><label for="due-date"></label>
                <input type="date" name="due-date" id="due-date" [(ngModel)] = "enteredDueDate"></p>
            <p class="actions">
                <button type="button" (click) = "onCancel()">Cancel</button>
                <button type="submit">Create</button>
            </p>
        </form>
    </dialog>

</div>